{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <h1>회원 정보</h1>
      <p>사용자 정보:</p>
        <p>Current User Profile: {{ current_user_profile.name }}, {{ current_user_profile.birthdate }}, {{ current_user_profile.gender }}</p>
      {% if user_profile %}
            <ul>
                <li>사용자 이름: {{ user_profile.user.username }}</li>
                <li>이메일: {{ user_profile.user.email }}</li>
                <li>생년월일: {{ user_profile.birthdate }}</li>
                <li>성별: {{ user_profile.gender }}</li>
                <li>특정 사용자 여부: {% if user_profile.is_special_user %}특별 사용자{% else %}일반 사용자{% endif %}</li>
                <li>특정 관리자: {% if user_profile.special_admin %}{{ user_profile.special_admin.username }}{% endif %}</li>
            </ul>
            {% if user_answers %}
                <h2>퀴즈 정보:</h2>
            {% endif %}
            <p>총 점수: {{ total_score }}레벨</p>

            {% if is_special_user %}
                <p><a href="{% url 'user_list' %}">사용자 목록으로 돌아가기</a></p>
            {% endif %}

        {% else %}
            <p>프로필이 존재하지 않습니다.</p>
        {% endif %}
    </div>
  </div>
{% endblock %}
